<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qhs.blog.mapper.userMapper">

    <select id="getUser" resultType="User" parameterType="Integer">
        select * from `blog_user` where `Id` = #{id}
    </select>

    <update id="update" parameterType="User">
        update `blog_user`
        <set>
        <if test="user.name !=null">`name`=#{user.name},</if>
        <if test="user.pwd !=null">`pwd`=#{user.pwd},</if>
        <if test="user.sig !=null">`sig`=#{user.sig},</if>
        <if test="user.ava !=null">`ava`=#{user.ava},</if>
        <if test="user.phone !=null">`phone`=#{user.phone},</if>
        <if test="user.level !=null">`level`=#{user.level},</if>
        <if test="user.email !=null">`email`=#{user.email},</if>
        </set>
        where id = #{user.id}
    </update>

    <insert id="add"  parameterType="User" >
        insert into `blog_user` (`name`,`pwd`,`email`) values (#{user.name},#{user.pwd},#{user.email})
    </insert>

    <select id="getByName"  resultType="User" parameterType="User">
        select * from `blog_user` where `name` = #{user.name}
    </select>

    <select id="getByEmail" resultType="User" parameterType="User">
        select * from `blog_user` where `email` = #{user.email}
    </select>


</mapper>